# exclude compiled binaries
lib/

# Exclude config
config/

# Exclude log files
log/

# exclude data and raw data from source control by default
data/
raw/

# exclude reports and results
reports/
results/
history/

# Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# macOS
.DS_Store

# Keep folders with .gitkeep
!.gitkeep
